* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 100vh; /* vh =19.2px */
  position: relative;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  width: 80%;
}

.logo {
  width: 130px;
}

.listitem {
  display: inline-block;
  margin: 10px 20px;
}
.links {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* pseudo class selectors */

.links:hover {
  color: red;
}

.title {
  margin-left: 8%;
  margin-top: 13%;
}

.title-h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

#lastname {
  color: orange;
  font-weight: 400;
}

.download {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 30px 0;
  display: inline-block;
  border-radius: 5px;
  font-weight: bold;
}

.image {
  position: absolute;
  width: 45%;
  height: 80%;
  bottom: 0;
  right: 30px;
}

.image img {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: bottom 1s, left 1s;
}
.image:hover #shape {
  bottom: 70px;
}

.image:hover #girl {
  left: 40%;
}

/* about content */

#about {
  margin: 15% 8% 0 8%;
}

.heading {
  text-align: center;
}
.heading h2 {
  font-size: 30px;
}
.heading span {
  font-size: 17px;
  color: green;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /*1fr=255px*/
  margin-top: 30px;
  gap: 2rem; /* 1rem=16px*/
}

.about-details {
  font-size: 18px;
  text-align: justify; /*to set the two sides proper*/
}

.information {
  margin-top: 2rem;
}

.info-box {
  margin-bottom: 1rem;
}

.about-image img {
  width: 80%;
  border-radius: 1rem;
}

.info-box span {
  margin-left: 1rem;
}

#skills {
  margin: 8% 8% 0 8%;
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.skill-image img {
  width: 90%;
  padding-left: 4rem;
}

.bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0px;
  margin-bottom: 1rem;
  position: relative;
}

.base-bar{
  width: 100%;
  height: 0.5rem;
  background-color: black;
  border-radius: 5rem;
  position: absolute;
  bottom: 0;
}

.html-bar{
  background-color: orange;
  width: 95%;
}

.html-bar1{
  background-color: orange;
  width: 88%;
}

.html-bar2{
  background-color: orange;
  width: 89%;
}

.html-bar3{
  background-color: orange;
  width: 85%;
}

.contacts{
  display: flex;
  justify-content: center;
  padding-top: 2rem;  
}

.icons,.arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.icons i{
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.icons:hover {
  background-image: linear-gradient(to bottom right,yellow,red);
}

.icons:hover i{
  color: white;
  animation: shake .40s;
}

@keyframes shake{
  20%{
    transform: rotate(15deg);
  }
  40%{
    transform: rotate(-15deg);
  }
  60%{
    transform: rotate(15deg);
  }
  80%{
    transform: rotate(-15deg);
  }
}

footer{
  margin: 3rem;
}

.arrow{
  float: right;
  background-image: linear-gradient(to bottom right,yellow,red);
  margin: 0 10px 50px 0;
  font-size: 25px;
}

.arrow:hover i{
color: rgb(253, 248, 248);
}


